@import "typography.css";

:root {
  /* colors */
  --default-font-color: #424242;
  --default-background-color: #f5f5f5;
  --color-primary: #2980b9;
  --max-width: 160rem;

  /* others */
  --seperation-line: 1px solid #edecec;
}

html {
  font-weight: 400;
  font-size: 62.5%; /*1rem = 10px now*/
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
  min-height: 100%;
  overflow-y: auto;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: inherit;
}

@media only screen and (min-width: 90.625em) {
  /* 1450px */
  html {
    font-size: 68.75%; /* 11px */
  }
}
@media only screen and (min-width: 100em) {
  /* 1600px */
  html {
    font-size: 75%; /* 12px */
  }
}
@media only screen and (min-width: 109.375em) {
  /* 1750px */
  html {
    font-size: 81.25%; /* 13px */
  }
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: .6rem;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #7f7d7d;
  border-radius: .6rem;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #8b8a8a;
}
/*@media only screen and (min-width: 90.625em) {*/
/*  !* 1450px *!*/
/*  html {*/
/*    font-size: 68.75%; !* 11px *!*/
/*  }*/
/*}*/
/*@media only screen and (min-width: 100em) {*/
/*  !* 1600px *!*/
/*  html {*/
/*    font-size: 75%; !* 12px *!*/
/*  }*/
/*}*/
/*@media only screen and (min-width: 109.375em) {*/
/*  !* 1750px *!*/
/*  html {*/
/*    font-size: 81.25%; !* 13px *!*/
/*  }*/
/*}*/
/*@media only screen and (max-width: 56.25em) { !*900px*!*/
/*    html {*/
/*        font-size: 50%; !* 8px *!*/
/*    }*/
/*}*/
body {
  font-family: Neue Einstellung, "Helvetica", Arial,sans-serif;
  font-size: 1.4rem;
  color: #424242;
  font-kerning: normal;
}

a, a:active, a:focus, a:hover {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}
